<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/AdicionarProduto.css') }}" />
	<title>Adicionar produto</title>
</head>
<body>
	<header>
		<section id="links">
			<div class="conteiner">
				<div class="conteiner-links">
					<div class="link">
						<span class="link-style"><a href="{{ url_for('estoque', user=current_user) }}">Produtos no estoque</a></span>
					</div>
					<div class="link">
						<span class="link-style"><a href="{{ url_for('adiciona_produto', user=current_user) }}">Adicionar produto</a></span>
					</div>
					<div class="link">
						<span class="link-style"><a href="#">Produtos por venda</a></span>
					</div>
					<div class="link">
						<span class="link-style"><a href="#">Produtos por qntd</a></span>
					</div>
					<div class="link">
						<span class="link-style"><a href="#">Produtos por venc</a></span>
					</div>
				</div>
				<div id="hamburguer">
                    <img src="../static/img/hamburguer.png" alt="" class="open" />
                    <img src="../static/img/close-icon.png" alt="" class="close" />
                </div>
			</div>
		</section>
	</header>

	<main>
		<section id="nome">
			<h1>Produtos no estoque</h1>
		</section>

		<section id="formProdutos">
			<div class="conteiner">
				<div class="conteiner-form">
					<form method="POST" action="/adiciona_produto" id="formulario">
						{{ form.hidden_tag() }}
						<div class="input-text">
							{{ form.nome_produto.label }}
							{{ form.nome_produto(class="form-control") }}
						</div>
						<div class="input-text">
							{{ form.preco.label }}
							{{ form.preco(class="form-control") }}
						</div>
						<div class="input-text">
							{{ form.vencimento.label }}
							{{ form.vencimento(class="form-control") }}
						</div>
						<div class="input-text">
							{{ form.quantidade.label }}
							{{ form.quantidade(class="form-control") }}
						</div>
						<div class="btns">
							{{ form.submit(class="flask_button") }}
							<button><a href="{{ url_for('estoque', user=current_user) }}">Voltar</a></button>
						</div>
					</form>
				</div>
				<div>
				 <p style="color: white;">-</p>
				</div>

				{% for error in form.nome_produto.errors %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							{{ error }}
					</div>
				{% endfor %}

				{% for error in form.preco.errors %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							{{ error }}
					</div>
				{% endfor %}

				{% for error in form.quantidade.errors %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							{{ error }}
					</div>
				{% endfor %}

			</div>
		</section>
	</main>

	<script src="{{ url_for('static', filename='js/scriptProduto.js') }}"></script>
</body>
</html>