<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/styleEstoque.css') }}">
	<title>Estoque virtual</title>
</head>
<body>
		<header class="header">
			<div class="conteiner">
				<div class="menu">
					<div class="logo">
						<img src="../static/img/img-carrinho-compras.png">
						<span>Meu Mercao</span>
					</div>
					<nav id="menuMain">
						<ul id="list-main">
							<li>Vendas</li>
							<li>Estoque</li>
							<li>Funcionarios</li>
						</ul>
					</nav>
					<div id="hamburguer">
                        <img src="../static/img/hamburguer.png" alt="" class="open" />
                        <img src="../static/img/close-icon.png" alt="" class="close" />
                    </div>
				</div>
			</div>
		</header>

		<main>
			<section id="pesquisar">
				<div class="conteiner">
					<div class="section-body">
						<div class="qtd-items">
							<span class="num-items">items()</span>
						</div>
						<div class="pesquisa">
	                    	<input type="text" placeholder="Digite aqui o produto que procura" />
	                	</div>
	                	<div class="Order">
	                    	<span>Ordernr por</span>
	                	</div>
					</div>
				</div>
			</section>

			<section id="links">
				<div class="conteiner">
					<div class="conteiner-links">
						<div class="link">
							<span class="link-style"><a href="{{ url_for('estoque', user=current_user) }}">Produtos no estoque</a></span>
						</div>
						<div class="link">
							<span class="link-style"><a href="{{ url_for('adiciona_produto', user=current_user) }}">Adicionar produto</a></span>
						</div>
						<div class="link">
							<span class="link-style"><a>Produtos por venda</a></span>
						</div>
						<div class="link">
							<span class="link-style"><a>Produtos por quatidade</a></span>
						</div>
						<div class="link">
							<span class="link-style"><a>Produtos por vencimento</a></span>
						</div>
					</div>
				</div>
			</section>

			<section id="nome">
				<h1>Produtos no estoque</h1>
			</section>

			<section id="produtos">
				<table class="table table-bordered table-striped">
			        <thead class="thead-dark">
			            <tr>
			                <th scope="col">ID</th>
			                <th scope="col">Nome</th>
			                <th scope="col">Valor do Produto</th>
			                <th scope="col">Vencimento</th>
			                <th scope="col">Quantidade</th>
			                <th scope="col">Status</th>
			                <th scope="col">ALTERAR</th>
			                <th scope="col">REMOVER</th>
			            </tr>
						{% for produto in user.prod_lojista %}
						<tr>
							<td>{{ produto.id }}</td>
							<td>{{ produto.nome_produto }}</td>
							<td>{{ produto.preco }}</td>
							<td>{{ produto.vencimento }}</td>
							<td>{{ produto.quantidade }}</td>
							<td>-</td>
							<td>-</td>
							<td>
								<button type="button" class="btn-close" onClick="deleteProduto({{ produto.id }})"><span aria-hidden="true">&times;</span></button>
							</td>
						</tr>
						{% endfor %}
			        </thead>
			        <tbody>
			        	<tr>
			        		<!-- <th></th> -->
			        	</tr>
			        </tbody>
   	 			</table>
			</section>
		</main>

		<script src="{{ url_for('static', filename='js/EstoqueVirtualScript.js') }}"></script>
		
		<script type="text/javascript">
			function deleteProduto(produtoId) {
				fetch("/delete-produto", {
					method: "POST",
					body: JSON.stringify({ produtoId: produtoId }),
				}).then((_res) => {
					window.location.href = "/estoque";
				});
			}
		</script>
</body>
</html>