<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylePesquisa.css') }}" />
    <title>Pesquisar Produto</title>
</head>

<body>
    <header>
        <div class="conteiner">
            <div class="menu">
                <div class="logo">
                    <div class="icon-logo">
                        <img src="./static/img/carrinho-compras.png" alt="icone de um carrinho de compras" />
                        <span>Meu Mercado</span>
                    </div>
                    <div class="hamburguer">
                        <img src="../static/img/hamburguer.png" alt="" class="open-img" />
                        <img src="../static/img/close-icon.png" alt="" class="close-img" />
                    </div>
                </div>
                <div class="pesquisa">
                    <input type="text" placeholder="Digite aqui o produto que procura" />
                </div>
                <div class="login" title="Pressione para realizar o logout">
                    <a href="#">
                        <img src="./static/img/img-user.png" alt="icone de um usuario" />
                        <a href="{{ url_for('logout') }}">Olá, {{ nome }}!</a>
                        <span>&gt;</span>
                    </a>
                </div>
            </div>

            <div class="section-categoria">
                <div class="section-categoria--iten">
                    <img src="./static/img/img-location.png" alt="icone de localizaço" />
                    <div class="part-column">
                        <span>000001-00</span>
                        <span>Promo ao bairro</span>
                    </div>
                </div>

                <div class="section-categoria--iten">
                    <img src="./static/img/hamburguer.png" alt="icone de localizaço" />
                    <span>Ver categoria</span>
                </div>

                <div class="section-categoria--iten">
                    <img src="./static/img/img--oferta.jpeg" alt="icone de localizaço" />
                    <span>Oferta</span>
                </div>

                <div class="section-categoria--iten">
                    <img src="./static/img/img-garrafa.jpeg" alt="icone de localizaço" />
                    <span>Bebida</span>
                </div>

                <div class="section-categoria--iten">
                    <img style="width:15px;" src="./static/img/img-cenoura.jpeg" alt="icone de localizaço" />
                    <span>Hortfruit</span>
                </div>

                <div class="section-categoria--iten">
                    <img src="./static/img/img-estrela.jpg" alt="icone de localizaço" />
                    <span>Meus favoritos</span>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="part-pesquisa">
            <div class="conteiner">
                <div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="aviso">
                    <h1>Promoções da Semana</h1>
                </div>
                <div class="conteiner-pesquisa">
                    <div class="conteiner-pesquisa--iten">
                        <div class="conteiner-pesquisa--img">
                            <img src="../static/img/rfrí.jpeg" alt="">
                        </div>
                        <div class="conteiner-pesquisa--iten-info">
                            <div class="style-normal  conteiner-pesquisa--iten-info--preco">
                                <p>Coca-cola 250ml</p>
                                <span class="valor">R$ 3,40</span>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--mercado">
                                <img src="../static/img/iten-tanogosto.png" alt="">
                                <p>Mercado Ta Mo Gosto</p>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--promocao">
                                <p>Promoçao: <span class="promo">Leve 3 Pague 2</span></p>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--setting">
                                <div class="setting-sv">
                                    <img src="../static/img/img-estrela.jpg" alt="">
                                    <span>Salvar nos favoritos</span>
                                </div>
                                <!-- <img src="../static/img/img-estrela.jpg" alt="">
                               <span>Salvar nos favoritos</span>  -->
                                <span class="btn-setting">agendar um</span>
                            </div>
                        </div>
                    </div>

                    <div class="conteiner-pesquisa--iten">
                        <div class="conteiner-pesquisa--img">
                            <img src="../static/img/rfrí.jpeg" alt="">
                        </div>
                        <div class="conteiner-pesquisa--iten-info">
                            <div class="style-normal  conteiner-pesquisa--iten-info--preco">
                                <p>Coca-cola 250ml</p>
                                <span class="valor">R$ 3,40</span>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--mercado">
                                <img src="../static/img/redeeco.jpeg" alt="">
                                <p>Rede Economia</p>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--promocao">
                                <p>Promoçao: <span class="promo"><span class="corte"
                                            style="text-decoration: line-through">R$3,50</span> por R$3,00</span></p>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--setting">
                                <div class="setting-sv">
                                    <img src="../static/img/img-estrela.jpg" alt="">
                                    <span>Salvar nos favoritos</span>
                                </div>
                                <span class="btn-setting">agendar um</span>
                            </div>
                        </div>
                    </div>


                    <div class="conteiner-pesquisa--iten">
                        <div class="conteiner-pesquisa--img">
                            <img src="../static/img/rfrí.jpeg" alt="">
                        </div>
                        <div class="conteiner-pesquisa--iten-info">
                            <div class="style-normal  conteiner-pesquisa--iten-info--preco">
                                <p>Coca-cola 250ml</p>
                                <span class="valor">R$ 3,80</span>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--mercado">
                                <img src="../static/img/mult.png" style="width: 22%" alt="">
                                <p>Multimix</p>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--promocao">
                                <p>Promoçao: <span class="promo">Leve 3 Pague 2</span></p>
                            </div>

                            <div class="style-normal conteiner-pesquisa--iten-info--setting">
                                <div class="setting-sv">
                                    <img src="../static/img/img-estrela.jpg" alt="">
                                    <span>Salvar nos favoritos</span>
                                </div>
                                <span class="btn-setting">agendar um</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="aviso">
                    <h1>Produtos disponíveis</h1>
                </div>
                <section id="produtos">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Mercado</th>
                                <th scope="col">Salvar na lista de compras</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in prod_disponiveis %}
                            <tr>
                                <td>{{ produto.nome_produto }}</td>
                                <td>{{ produto.preco }}</td>
                                <td>{{ produto.lojista.nome }}</td>
                                <td>
                                    <form method="POST">
                                        {{ form_inclui.hidden_tag() }}  
                                        <input id="product_id" name="product_id" type="hidden" value="{{ produto.id }}">
                                        {{ form_inclui.submit() }}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

    </main>
    </div>
    </section>
    </main>

    <footer>
        <div class="conteiner">
            <div class="conteiner-footer">
                <div class="conteiner-social">
                    <div class="icon-logo">
                        <img src="./static/img/carrinho-compras.png" alt="icone de um carrinho de compras" />
                        <span>Meu Mercado</span>
                    </div>
                    <ul class="social">
                        <li><a href="#"><img src="../static/img/icon-facebook.svg" alt="icone facebook"></a></li>
                        <li><a href="#"><img src="../static/img/icon-twitter.svg" alt="icone twitter"></a></li>
                        <li><a href="#"><img src="../static/img/icon-instagram.svg" alt="icone instagram"></a></li>
                    </ul>
                </div>

                <div class="conteiner-about">
                    <div class="conteiner-list">
                        <div class="conteiner-list-items one">
                            <ul>
                                <h3>Menu</h3>
                                <li><a href="{{ url_for('index') }}">Menu principal</a></li>
                                <li>Lista de Mercados</li>
                                <li>Produtos</li>
                            </ul>
                        </div>

                        <div class="conteiner-list-items two">

                            <ul>
                                <h3>Outro Produtos</h3>
                                <li>Produtos do açouge</li>
                                <li>Produtos da Padaria</li>
                                <li>Produtos Congelados</li>
                            </ul>
                        </div>

                        <div class="conteiner-list-items three">

                            <ul>
                                <h3>Links sobre nós</h3>
                                <li>Sobre Nós</li>
                                <li>Comunidades</li>
                                <li>Politica e privacidade</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scriptPesquisa.js') }}"></script>
</body>

</html>